In [18]:
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas

In [3]:
# Init Snowflake Connection and environmental variables

def connection ():
    ctx = snowflake.connector.connect (
                    user = os.getenv('SNOW_USER'),
                    password = os.getenv('SNOW_PASS'),
                    account = os.getenv('SNOW_ACC'),
                    warehouse = os.getenv('SNOW_WH'),
                    database = os.getenv('SNOW_DB'),
                    schema =os.getenv('SNOW_SCHEMA'),
                    role = os.getenv('SNOW_ROLE')
                    )
    return ctx

ctx=connection()

In [11]:
# Create a cursor object.

cursor = ctx.cursor()

In [12]:
#Execute Query with cursor.execute

cursor.execute('select * from "DEMO_LOAD"."PUBLIC"."IRIS";')
Iris_original = cursor.fetch_pandas_all()

In [13]:
print(Iris_original)

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH    SPECIES
0             5.1            4             1            0     setosa
1             4.9            3             1            0     setosa
2             4.7            3             1            0     setosa
3             4.6            3             2            0     setosa
4             5.0            4             1            0     setosa
..            ...          ...           ...          ...        ...
145           6.7            3             5            2  virginica
146           6.3            3             5            2  virginica
147           6.5            3             5            2  virginica
148           6.2            3             5            2  virginica
149           5.9            3             5            2  virginica

[150 rows x 5 columns]

In [14]:
Iris_new_row = pd.DataFrame({'SEPAL_LENGTH':[999],
                    'SEPAL_WIDTH':[999],
                    'PETAL_LENGTH':[999],
                    'PETAL_WIDTH':[999], 
                    'SPECIES':["Test"]})

In [15]:
print(Iris_new_row)

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH SPECIES
0           999          999           999          999    Test

In [16]:
success, nchunks, nrows, _ = write_pandas(ctx, Iris_new_row,'IRIS')

In [17]:
cursor.execute('select * from "DEMO_LOAD"."PUBLIC"."IRIS";')
Iris_original = cursor.fetch_pandas_all()
print(Iris_original)

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH    SPECIES
0             5.1            4             1            0     setosa
1             4.9            3             1            0     setosa
2             4.7            3             1            0     setosa
3             4.6            3             2            0     setosa
4             5.0            4             1            0     setosa
..            ...          ...           ...          ...        ...
146           6.3            3             5            2  virginica
147           6.5            3             5            2  virginica
148           6.2            3             5            2  virginica
149           5.9            3             5            2  virginica
150         999.0          999           999          999       Test

[151 rows x 5 columns]

In [ ]:
cursor.close()
ctx.close()